/* подключение шрифтов Bebas */
/* @font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: local('Bebas Neue Cyrillic'), local('BebasNeueCyrillic'),
        url('../fonts/BebasNeueCyrillic.woff2') format('woff2'),
        url('../fonts/BebasNeueCyrillic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
        url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Light Regular'), local('BebasNeueLight'),
        url('../fonts/BebasNeueLight.woff2') format('woff2'),
        url('../fonts/BebasNeueLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
} */

*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',
    sans-serif;
}
.header{
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5; /*полоска снизу*/
}
.navbar{
    max-width: 1280px;
    margin: auto;
    display: flex; /*размещение элементнов в стоку*/
    justify-content: space-between;
    align-items: center;
}
.navbar-menu{
    margin: 0; /*отключение внешних отступов*/
    padding: 0;
    /*отключение внутренних отступов*/
    list-style: none; /*отключение у списка точек*/
    display: flex;
    text-align: center;
}
.navbar-item{
    margin-left: 40px;
    margin-right: 40px;
}
.navbar-link{
    text-decoration: none;
    color:#fff;
}
.navbar-contacts{
    text-align: right;
}
.navbar-text{
    display: block;
    color:#fff;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}
.navbar-phone{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}
.main{
    max-width: 1280px;
    margin: auto;
    padding-top: 54px;
    padding-bottom: 54px;
    display: flex;
}
.home-image path{
    opacity: 0;
    cursor: pointer;
}
.home-image path:hover{
    opacity: 1;
}
path.current-floor{
    opacity: 1;
}
.main-info{
    flex-grow: 1; /*растягивание блока на все свободное место*/
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}
.main-title {
    /* font-family: 'Bebas Neue Cyrillic', sans-serif; */
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 44px;
    text-align: center;
    color: #635854;
    margin: 0;
}
.counter-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 116px; */
}
.counter-button{
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.counter-arrow-down{
    transform: rotateX(180deg); /*развернуть на 180 градусов*/
}
.floor-counter {
    /* font-family: 'Bebas Neue Cyrillic',
    sans-serif; */
    font-family: 'Bebas Neue';
    color: #635854;
    font-size: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button-primary{
    background: #3596F5;
    border-radius: 6px;
    color:#fff;
    border: none;
    padding: 16px 36px;
    cursor: pointer;
}
.footer{
    background: #D7D7D7;
}
.footer-content{
    max-width: 1280px;
    margin: auto;
    padding-top: 54px;
    padding-bottom: 54px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
}
.logo-footer{
    width: 65px;
    margin-right: 34px;
}
.footer-contacts {
    display: flex;
    flex-direction: column;
}
.footer-contacts-text{
    font-size: 14px;
    line-height: 16px;
    color: #635854;
}
.footer-contacts-phone{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #635854;
    text-decoration: none;
    margin-right: 60px;
}
.social-items{
    display: flex;
    list-style: none;
}
.social-item{
    margin-right: 15px;
}
.footer-text-items{
    display: flex;
    list-style: none;
    margin-left: auto; /* прижатие элемента к правому краю */
}
.footer-text-item{
    margin: 0px 20px;
}
.footer-text-item-link{
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #635854;
}
.modal{
    position: fixed; /* фиксированная позиция поверх контента */
    left: 0; /* приклеить к верхнему левому краю */
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* полупрозрачный фоновый цвет */
    display: flex; /* родительский элемент гибкий */
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0); /* сжатие окна до 0 */
    transition: opacity 0.2s; /* плавное появление окна */
}
.is-open{
    opacity: 1;
    transform: scale(1); /* появление окна */
}
.modal-dialog{
    position: relative;
    max-width: 1000px;
    min-height: 565px;
    background-color: #fff;
    flex-grow: 1; /* для размещения поверх родительского блока */
    display: flex;
    opacity: 0;
    transform: translateY(-10%); /* отодвинуть на 10% по оси Х */
    transition: transform 0.2s, opacity 0.2s; /* плавное появление */
    transition-delay: 0.2s; /* задержка появления на 0,2s */
}
.is-open > .modal-dialog{ /* если в активном окне есть модальный диалог*/
    opacity: 1;
    transform: translateX(0);
}
.modal-image{
    background-color: #EBEBEB;
    width: 60%;
    text-align: center; /* размещение контента по центру */
    padding: 50px;
}
.flats path{
    opacity: 0;
    cursor: pointer;
}
.flats path:hover {
    opacity: 1;
}
path.flat-active {
    opacity: 1;
}
.modal-title{
    font-family: 'Bebas Neue';
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 25px;
}
.modal-info{
    width: 40%;
    padding: 50px 46px;
}
.flat-list{
    padding: 0;
    list-style: none;
    margin-top: 55px;
}
.flat-item{
    margin-bottom: 10px;
}
.flat-link{
    font-size: 16px;
    line-height: 19px;
    color: #635854;
    text-decoration: none;
}
.flat-link:hover{
    text-decoration: underline;
    color: #3596F5;
}
.flat-link-active {
    text-decoration: underline;
    color: #3596F5;
}
.modal-alert{
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #635854;
    margin-top: 56px;
}
.modal-close-button{
    position: absolute;
    right: 27px;
    top: 38px;
    cursor: pointer;
    border: none;
    background-color: #fff;
}